<mat-toolbar>
    <div class="a">
    </div>
    <div class="navigation_container">
        <div class="logo_container">
            <a href="http://localhost:4200">
                <img src="../../assets/pi50pxlogo.png" alt="Home page logo sender">
            </a>
        </div>
        <div class="news_container">
            <a href="http://localhost:4200/politics">Politics</a>
            <a href="http://localhost:4200/sports">Sports</a>
            <a href="http://localhost:4200/technology">Technology</a>
            <a href="http://localhost:4200/finance">Finance</a>
            <a href="http://localhost:4200/celebrity">Celebrity</a>
        </div>
    </div>    
</mat-toolbar>
