<mat-toolbar>
    <div class="a"></div>
    <div class="navigation_container">
        <div class="logo_container">
            <a href="http://localhost:4200">
                <img src="../../assets/50pxlogo.png" alt="Home page logo sender">
            </a>
        </div>
        <ul class="categories">
            <li><a href="http://localhost:4200/svyat">Всички</a></li>
            <li><a href="http://localhost:4200/svyat">България</a></li>
            <li><a href="http://localhost:4200/svyat">Свят</a></li>
            <li><a href="http://localhost:4200/svyat">Спорт</a></li>
            <li><a href="http://localhost:4200/svyat">Любопитно</a></li>
        </ul>
    </div>
    <div class="socials_container"></div>
    
</mat-toolbar>
