<mat-toolbar>
    <div class="a">
    </div>
    <div class="navigation_container">
        <div class="logo_container">
            <a href="http://localhost:4200">
                <img src="../../assets/pi50pxlogo.png" alt="Home page logo sender">
            </a>
        </div>
        <ul class="categories">
            <li><a href="http://localhost:4200/politics">Politics</a></li>
            <li><a href="http://localhost:4200/sports">Sports</a></li>
            <li><a href="http://localhost:4200/technology">Technology</a></li>
            <li><a href="http://localhost:4200/finance">Finance</a></li>
            <li><a href="http://localhost:4200/celebrity">Celebrity</a></li>
        </ul>
    </div>
    <div class="socials_container"></div>
    
</mat-toolbar>
